.body {
  height: 100%;
  /* 在大屏幕（例如 xl）下修改高度为 800px */
}
.body .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .header .title {
  text-align: center;
  color: #787aab;
  font-weight: 700;
}
.body .header .user {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.body .header .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.body .header .user h5 {
  margin-left: 10px;
}
.body .Revamp {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body .Revamp .button {
  margin-top: 20px;
  background-color: deeppink;
  /* 背景颜色 */
  color: white;
  /* 文字颜色 */
  font-size: 1.3em;
  /* 字体大小 */
  height: 50px;
  /* 按钮高度 */
  width: 150px;
  /* 按钮宽度 */
  border: none;
  /* 去除边框 */
  border-radius: 8px;
  /* 圆角 */
  cursor: pointer;
  /* 光标样式 */
  transition: box-shadow 0.3s ease;
  /* 过渡效果 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.body .Revamp .button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
}
.body .title {
  margin-left: 20px;
  color: deeppink;
  font-size: 2em;
}
.body .image {
  position: relative;
  /* 设置为相对定位，以便绝对定位的元素相对于此定位 */
  height: 500px;
  overflow: hidden;
  /* 隐藏溢出部分 */
  margin: 0 20px 20px;
}
.body .image img {
  width: 100%;
  /* 设置图片的宽度为容器的宽度 */
  height: 500px;
  object-fit: cover;
  /* 保持图片比例不变的同时填充满容器 */
  object-position: center;
  /* 设置图片在容器中的位置 */
}
.body .image .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.body .ListCarousels {
  margin: 20px auto;
  height: 300px;
  max-height: 800px;
}
.body .ListCarousels img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  /* 确保图片不超过容器宽度 */
  max-height: 100%;
  /* 确保图片不超过容器高度 */
  border-radius: 17px;
}
@media (min-width: 1200px) {
  .body .ListCarousels {
    height: 1000px;
    max-height: 1000px;
  }
}
.body .Chart {
  height: 300px;
}
.body .rank {
  display: flex;
  flex-direction: column;
}
.body .rank h3 {
  color: #e02e24;
  font-size: 30px;
  text-align: center;
}
.body .rank .RankThree {
  border-radius: 7px;
  display: flex;
  margin-bottom: 10px;
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  font-size: 18px;
}
.body .rank .RankThree img {
  width: 100px;
  height: 100px;
}
.body .rank .RankThree .name {
  font-size: 20px;
  color: #959595;
  margin-top: 25px;
  margin-left: 10px;
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
}
.body .rank .rankafter {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  font-size: 15px;
  color: #959595;
  margin-top: 7px;
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
}
.body .body {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.body .body .leftBody {
  background-color: #f9f8fd;
  border-radius: 20px;
  padding-right: 10px;
  overflow: hidden;
}
.body .body .leftBody .tips {
  display: flex;
}
.body .body .leftBody .tips .leftTips {
  width: 800px;
  height: 300px;
  border-radius: 10px;
  margin-right: 30px;
}
.body .body .leftBody .tips .rightTips {
  width: 600px;
  height: 300px;
  border-radius: 10px;
}
.body .body .leftBody .tips .rightTips .carousels {
  width: 600px;
  height: 300px;
}
.body .body .leftBody .tips .rightTips .carousels img {
  width: 100%;
  height: 100%;
}
.body .body .leftBody .show {
  display: flex;
}
.body .body .leftBody .show .box .select {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .body .leftBody .show .box .select .title {
  font-size: 37px;
  color: green;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.body .body .leftBody .show .box .select .view {
  font-size: 20px;
  color: #959595;
}
.body .body .leftBody .show .box .recommendWrapper {
  display: flex;
  margin: 40px 0;
  width: 800px;
  justify-content: space-between;
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem {
  flex: 1;
  margin-left: 17px;
  margin-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  height: 346px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemPicture {
  width: 100%;
  height: 231px;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemPicture img {
  width: 100%;
  height: 100%;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce {
  width: 100%;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceName {
  font-size: 17px;
  margin-top: 12px;
  margin-left: 10px;
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceLabel {
  white-space: nowrap;
  /* 防止文字换行 */
  overflow: hidden;
  /* 隐藏溢出的文字 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  color: #666;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 15px;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceLabel span {
  margin-left: 7px;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceValue {
  display: flex;
  align-items: center;
  color: #e02e24;
  margin-top: 10px;
  margin-left: 10px;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceValue .recommendWrapperItemIntroduceValueMoney {
  font-size: 25px;
  font-weight: 700;
}
.body .body .leftBody .show .box .recommendWrapper .recommendWrapperItem .recommendWrapperItemIntroduce .recommendWrapperItemIntroduceValue .recommendWrapperItemIntroduceValueText {
  color: #666;
  margin-left: 7px;
}
.body .body .leftBody .show .chart {
  width: 600px;
  height: 470px;
  margin: 30px 0 0 30px;
  border-radius: 10px;
}
.body .body .RightBody {
  width: 500px;
  margin-left: 30px;
  overflow: hidden;
  height: 1200px;
}
/*# sourceMappingURL=index.module.css.map */